/* @media (max-width: 620px) {
    .lol-slider{
        padding: 0 15px;
        gap: 10px;
    }
}

.btn-seta {
    width: 20px;
    height: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-card{
    height: 480px;
}

.card .tamanho-leesin{
    max-height: 230px;

}

.card .informacoes .nome{
    max-width: 50%;
    font-size: 18px;
}

.card .informacoes .funcao{
    font-size: 14px;
}
 */


